<div class="card">
  <div class="card-img-wrapper text-center">
    <img class="propImg" src="assets/images/house_default.png">
    <div class="list-inline-item text-center member-icons animate">
      <div class="card-body flex-column">
        <div class="btn-wrapper">
          <button class="btn btn-primary" routerLink="/property-detail/{{Property.Id}}"><i class="far fa-edit"></i>
          </button>
          &nbsp;
          <button class="btn btn-primary"><i class="far fa-address-book"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body p-2">
    <h1>{{Property.Name}}</h1>
    <h2>{{Property.Type}}</h2>
    <h3>{{Property.Price}}</h3>
  </div>
</div>

